.noshadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.center-btn {
	margin: 0 auto !important;
}

.wo-margin-btn {
	margin: 0 !important;
}

.middle-btn:after {
	top: 50% !important;
	margin-top: -11px;
}

.small-btn {
	background: #059 !important;
}

.ui-icon-myMute:after {
	background-image: url("../icons/SVG/mute.svg");
}

.ui-icon-myRoundArrow:after {
	background-image: url("../icons/SVG/round-arrow-1.svg");
}

.ui-content h1, h2, h3 {
	display: inline;
}

.ui-input-text, .ui-input-search {
	margin: 0.75em 0;
}

.center {
	text-align: center;
}

.menu_separator {
	margin-bottom: 2%;
}

footer span.versao {
	display: inline-block;
	text-align: left;
	width: 24%;
}

footer span.posto {
	display: inline-block;
	text-align: center;
	width: 24%;
}

footer span.sentido {
	display: inline-block;
	text-align: center;
	width: 24%;
}

footer span.ipad {
	display: inline-block;
	float: right;
	text-align: right;
	width: 24%;
}

div.ui-block-b>h2 {
	font-weight: bold;
	font-size: x-large;
}

section.ui-content>fieldset {
	margin-bottom: 2%;
	min-height: 60px;
	line-height: 44px;
}

section.ui-content>fieldset>legend.ui-block-a, section.ui-content>div>fieldset>legend.ui-block-a {
	width: 32%;
}

section.ui-content>fieldset>:not(fieldset).ui-block-b, section.ui-content>div>fieldset>:not(fieldset).ui-block-b {
	width: 68%;
}

legend, label {
	text-align: right;
}

section.ui-content fieldset>legend, section.ui-content fieldset label[class*="ui-block"] {
	display: inline;
	font-weight: bold;
	font-size: x-large;
	line-height: 60px;
	padding-right: .5em;
}

section.ui-content fieldset>legend.menor {
	font-size: 21px;
}

section.ui-content>fieldset>div.ui-block-b {
	text-align: left;
}

section.ui-content>fieldset.ui-grid-c>.ui-block-a {
	text-align: right;
	width: 30%;
}

section.ui-content>fieldset.ui-grid-c>.ui-block-b {
	text-align: left;
	width: 20%;
}

section.ui-content>fieldset.ui-grid-c>.ui-block-c {
	text-align: center;
	width: 20%;
}

section.ui-content>fieldset.ui-grid-c>.ui-block-d {
	text-align: left;
	width: 30%;
}

nav.avancar {
	width: 100%;
	position: fixed;
	bottom: 1%;
	right: 1%;
}

nav.avancar>div.ui-block-a {
	width: 85%;
}

nav.avancar>div.ui-block-b {
	width: 15%;
}

.ui-grid-b>.sel_pais {
	width: 30%;
}

.ui-grid-b>.sel_uf {
	width: 20%;
}

.ui-grid-b>.sel_municipio {
	width: 50%;
}

#sel_tipo_veiculo_1 .classe_veiculo, #sel_tipo_veiculo_2 .classe_veiculo {
	height: 100%;
}

#section_v_simples {
	width: 45%;
}

#section_v_semireboques {
	width: 30%;
}

#section_v_combinados {
	width: 40%;
}

#section_v_reboques {
	width: 35%;
}

.troca_classe_veiculo {
	width: 15%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin: 0% 3%;
	line-height: 640px;
}

.troca_classe_veiculo .ui-grid-a {
	float: left;
}

.troca_classe_veiculo .ui-grid-c {
	float: right;
}

.troca_classe_veiculo button {
	margin-top: 340px;
}

.classe_veiculo {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	max-height: 640px;
}

.classe_veiculo h2 {
	text-align: center;
	display: block;
	margin: 0px;
	font-weight: bold;
	font-size: large;
	height: 1.5em;
}

.tipos_veiculos {
	display: inline-block;
	border: solid;
	text-align: center;
	width: 90%;
	padding: 0% 0%;
	margin: 0% 5%;
	min-height: 600px;
	max-height: 600px;
	background-color: #EEE;
	border-radius: 2%;
}

.tipos_veiculos ol {
	display: inherit;
	list-style: none;
	text-align: center;
	width: 100%;
	padding: .2em 0em;
	margin: 0%;
}

#section_v_simples li {
	line-height: 70px;
}

#section_v_semireboques li, #section_v_reboques li {
	line-height: 100px;
}

#section_v_combinados  li {
	line-height: 120px;
}

.tipos_veiculos ol li {
	display: inline;
	vertical-align: middle;
	margin: 0px 10px;
}

.img_sel_veiculo {
	vertical-align: middle;
	max-width: 70%;
}

.v-simples {
	max-width: 35%;
}

#m.v-simples { /* moto */
	max-width: 30%;
}

.v-onibus {
	max-width: 60%;
}

.v-carga {
	max-width: 42%;
}

#c3.v-carga { /* carga: 4CD */
	max-width: 40%;
}

#c4.v-carga { /* carga: 4CD */
	max-width: 48%;
}

.v-semireboque, .v-combinado, .v-reboque {
	max-width: 90%;
}

#confirmar_veiculo>div {
	padding: 1.5em 0%;
}

#confirmar_veiculo.ui-grid-b>div:nth-of-type(3n), #confirmar_veiculo.ui-grid-b>div:nth-of-type(3n+1) {
	width: 10%;
}

#confirmar_veiculo.ui-grid-b>div:nth-of-type(3n+2) {
	width: 80%;
}

#confirmar_veiculo.ui-grid-b nav>div:nth-of-type(1) {
	padding-left: 10%;
	padding-right: 3%;
}

#confirmar_veiculo.ui-grid-b nav>div:nth-of-type(2) {
	padding-left: 3%;
	padding-right: 10%;
}

#confirmar_veiculo section button {
	background-color: #EEE;
}

#confirmar_veiculo section button.ui-btn-icon-left:after {
	left: 5em;
}

.input_placa {
	text-transform: uppercase;
}

ol.tipos_carrocerias {
	display: inline-block;
	list-style: none;
	text-align: center;
	width: 100%;
	padding: 0%;
	margin: 0%;
	background-color: white;
	border-radius: 1.5em;
}

ol.tipos_carrocerias>div {
	max-width: 33%;
	height: 100%;
	vertical-align: middle;
	display: inherit;
	text-align: inherit;
	padding: inherit;
	margin: inherit;
	display: inherit;
}

ol.tipos_carrocerias li {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	padding: 0px 7%;
	border-radius: 15px;
}

ol.tipos_carrocerias div:nth-child(2n+1) li:nth-child(2n) {
	background-color: #DDD;
}

ol.tipos_carrocerias div:nth-child(2n) li:nth-child(2n+1) {
	background-color: #DDD;
}

ol.tipos_carrocerias div:nth-child(1) li {
	margin: 2%;
}

ol.tipos_carrocerias div:nth-child(2) li {
	margin: 0% 8%;
}

ol.tipos_carrocerias div:nth-child(3)  li {
	margin: 0% 6%;
}

.img_carroceria {
	display: inline-block;
	text-align: center;
	max-width: 100%;
}

.img_carroceria ~ span {
	display: inline-block;
	text-align: center;
	max-width: 100%;
	color: black;
}

#grupo_placa_dados_simples, #grupo_placa_unica_simples>.ui-block-b, #grupo_placa_dados_onibus, #grupo_placa_unica_onibus>.ui-block-b,
	#grupo_placa_dados_carga, #grupo_placa_unica_carga>.ui-block-b {
	width: 15%;
}

div.ui-block-b>.placa_prefixo {
	width: 40%;
}

div.ui-block-b>.placa_sufixo {
	width: 60%;
}

div.ui-block-b>.placa_sufixo>.ui-block-a {
	display: inline;
	text-align: center;
	width: 10%;
	padding-top: .4em;
}

div.ui-block-b>.placa_sufixo>.ui-block-b {
	width: 90%;
	display: inline-block;
}

div.ui-block-b>.placa_prefixo input, div.ui-block-b>.placa_sufixo input, #grupo_placa_unica_simples>.ui-block-b input,
	#grupo_placa_unica_onibus>.ui-block-b input, #grupo_placa_unica_carga>.ui-block-b input {
	width: 100%;
	text-align: center;
}

#grupo_pessoas_ambos>fieldset.ui-block-a {
	width: 45%;
}

#grupo_pessoas_ambos>fieldset.ui-block-b {
	width: 55%;
}

#grupo_pessoas_ambos>fieldset>.ui-block-a {
	width: 71%;
}

#grupo_pessoas_ambos>fieldset>.ui-block-b {
	width: 27%;
}

#grupo_placa_vermelha_carga fieldset.ui-block-a, #grupo_carga_perigosa_carga fieldset.ui-block-a {
	width: 25%;
}

#grupo_placa_vermelha_carga fieldset.ui-block-b, #grupo_carga_perigosa_carga fieldset.ui-block-b {
	width: 75%;
}

#grupo_peso_carga>.ui-block-b>.ui-block-a {
	width: 15%;
}

.escondido {
	display: none;
}

/* bloqueando copiar no ipad */
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* permitindo acessar os inputs*/
input {
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

/* desbloqueando os inputtext no ipad
input[type=text] {
	-webkit-user-select: auto;
}*/