<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="br.ufrj.coppetec.contDNIT"
	version="2.0.0">
	<name>Contagem Mobile</name>
	<description>Software mobile para contagem de tráfego.</description>
	<author email="dev@cordova.apache.org" href="http://cordova.io">Coppetec/UFRJ Team</author>
	<content src="index.html" />
	<plugin name="cordova-plugin-whitelist" spec="1" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />

	<platform name="android">
		<allow-intent href="market:*" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="SplashMaintainAspectRatio" value="false" />
		<preference name="SplashShowOnlyFirstTime" value="false" />
		<splash density="land-hdpi" src="www/res/splash_screen.png" />
		<splash density="land-ldpi" src="www/res/splash_screen.png" />
		<splash density="land-mdpi" src="www/res/splash_screen.png" />
		<splash density="land-xhdpi" src="www/res/splash_screen.png" />
		<preference name="AutoHideSplashScreen" value="true" />
	</platform>

	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
		<splash height="768" src="www/res/splash_screen.png" width="1024" />
		<preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
		<preference name="AppendUserAgent" value="My Browser" />
		<preference name="target-device" value="universal" />
		<preference name="SuppressesLongPressGesture" value="true" />
		<preference name="AutoHideSplashScreen" value="false" />
	</platform>

	<platform name="browser">
		<preference name="SplashScreen" value="res/splash_screen.png" />
		<preference name="SplashScreenDelay" value="3000" />
		<preference name="SplashScreenWidth" value="1024" />
		<preference name="SplashScreenHeight" value="768" />
		<preference name="ShowSplashScreen" value="true" />
		<preference name="AutoHideSplashScreen" value="false" />
	</platform>

	<preference name="Orientation" value="landscape" />
	<preference name="FadeSplashScreen" value="false" />
    <preference name="FullScreen" value="false" />

</widget>
