<section data-role="page" id="caracterizacao_simples" data-transition="slide" data-theme="a">
	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>3. Caracterizacao do veículo</h1>
	</header>
        
        <!--content -->
        <section role="main" class="ui-content">
            <div class="ui-grid-a">
                <div class="ui-block-a" style="text-align: right; margin-top: 1%">
                    <h2>Ano:</h2>
                </div>
                <div class="ui-block-b" style="text-align: left;">
                    <select name="ano_simples" id="ano_simples">

                    </select>
                </div>
                
                
                
            </div>
        </section>
</section>
