<section data-role="page" id="caracterizacao_simples" data-transition="slide" data-theme="a">

	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>3. Caracterização do veículo</h1>
	</header>

	<!--content -->
	<section role="main" class="ui-content">

		<fieldset class="ui-grid-a" id='grupo_ano_simples'>
			<legend class="ui-block-a">Ano do veículo:</legend>
			<div class="ui-block-b">
				<select name="ano_simples" id="ano_simples">
				</select>
			</div>
		</fieldset>

		<fieldset class="ui-grid-a" id='grupo_propriedade_simples'>
			<legend class="ui-block-a">Propriedade:</legend>
			<div class="ui-block-b">
				<select name="propriedade_simples" id="propriedade_simples">
				</select>
			</div>
		</fieldset>

		<fieldset class="ui-grid-a" id='grupo_combustivel_simples'>
			<legend class="ui-block-a">Combustível:</legend>
			<div class="ui-block-b">
				<select name="combustivel_simples" id="combustivel_simples">
				</select>
			</div>
		</fieldset>

		<nav class="ui-grid-a" id="grupo_caracterizacao_simples_avancar">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-corner-all ui-icon-arrow-r ui-btn-icon-right" id='caracterizacao_simples_avancar'>Avançar</button>
			</div>
		</nav>

	</section>

	<!-- footer -->
	<footer data-role="footer" data-position="fixed">
		<button class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-carat-l" id='caracterizacao_simples_back'>Voltar</button>
	</footer>

</section>