<section data-role="page" id="identificacao_visual_simples" data-transition="slide" data-theme="b">
	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>2. Identificação visual do veículo</h1>
		<button id="btn_cancelar" name="btn_cancelar" data-icon="delete" class="ui-btn-right">Cancelar</button>
	</header>

	<!--content -->
	<section role="main" class="ui-content">

		<fieldset class="ui-grid-a" id="grupo_reboque_simples">
			<legend class="ui-block-a">Possui reboque:</legend>
			<div data-role="controlgroup" data-theme="a" class="ui-block-b" data-type="horizontal">
				<input type="radio" name="reboque_simples" id="reboque_simples_sim" value="sim">
				<label for="reboque_simples_sim">Sim</label>
				<input type="radio" name="reboque_simples" id="reboque_simples_nao" value="nao">
				<label for="reboque_simples_nao">Não</label>
			</div>
		</fieldset>

		<fieldset class="ui-grid-a escondido" id="grupo_placa_estrangeira_simples">
			<legend class="ui-block-a">Placa estrangeira:</legend>
			<div data-role="controlgroup" data-theme="a" data-type="horizontal" class="ui-block-b">
				<input type="radio" name="placa_estrangeira_simples" id="placa_estrangeira_simples_sim" value="sim" />
				<label for="placa_estrangeira_simples_sim">Sim</label>
				<input type="radio" name="placa_estrangeira_simples" id="placa_estrangeira_simples_nao" value="nao" />
				<label for="placa_estrangeira_simples_nao">Não</label>
			</div>
		</fieldset>

		<fieldset class="ui-grid-a escondido" id="grupo_pais_simples">
			<legend class="ui-block-a">País:</legend>
			<div class="ui-block-b">
				<select name="pais_simples" data-theme="a" id="pais_simples">
				</select>
			</div>
		</fieldset>

		<fieldset class="ui-grid-a escondido" id="grupo_placa_simples">
			<legend class="ui-block-a">Placa do veículo:</legend>
			<div class="ui-block-b ui-grid-a" id="grupo_placa_dados_simples">
				<div class="ui-block-a placa_prefixo">
					<input id="placa_letras_simples" class="input_placa" type="text" name="placa_letras_simples" value="" data-theme="a"
						maxlength="3" mask="a{3}" />
				</div>
				<div class="ui-block-b ui-grid-a placa_sufixo escondido" id="grupo_placa_numeros_simples">
					<span class="ui-block-a">-</span>
					<div class="ui-block-b">
						<input id="placa_numeros_simples" type="text" pattern="\d*" name="placa_numeros_simples" value="" data-theme="a"
							maxlength="4" mask="9{4}" />
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset class="ui-grid-a escondido" id="grupo_placa_unica_simples">
			<legend class="ui-block-a">Placa do veículo:</legend>
			<div class="ui-block-b">
				<input id="placa_unica_simples" class="input_placa" type="text" name="placa_unica_simples" value="" data-theme="a" />
			</div>
		</fieldset>

		<nav class="ui-grid-a avancar escondido" id="grupo_identificacao_visual_simples_avancar">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-btn-a ui-corner-all ui-icon-arrow-r ui-btn-icon-right" id="identificacao_visual_simples_avancar">Avançar</button>
			</div>
		</nav>

	</section>

	<!-- footer -->
	<footer data-role="footer" data-position="fixed"> </footer>

</section>
