<section data-role="page" id="pergunta_final_simples" data-transition="slide" data-theme="a">
	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>5. Pergunta final</h1>
	</header>

	<!--content -->
	<section role="main" class="ui-content">
		<div class="ui-grid-a" id='grupo_todo_simples'>
			<div class="ui-block-a" style="text-align: right; margin-top: 1%">
				<h2>TODO:</h2>
			</div>
		</div>




	</section>

	<!-- footer -->
	<footer data-role="footer" data-position="fixed">
		<button class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-carat-l" id='pergunta_final_simples_back'>Voltar</button>
	</footer>


</section>
