#page_login {
	background: #fff;
	background-image: url("../img/login/ipad_splash.png");
	background-repeat: no-repeat;
	height: auto;
}

#page_login .ui-panel-wrapper {
	background-color: transparent;
}

#page_login section {
	width: auto;
}

#page_login header {
	background: #244a7d;
	border: none;
}

#page_login footer {
	background: #244a7d;
	border: none;
}

#page_login .principal {
	width: 100%;
}

#page_login /*.ui-block-a*/ .formulario {
	margin-top: 7em;
	float: right;
	margin-right: 3.2em;
	padding: 20px;
	background-color: rgba(36, 74, 125, 0.4);
}

/*#page_login .ui-block-b {
	
}*/

#page_login /*.ui-field-contain*/ .controles {
	width: 90%;
}

#page_login /*.ui-btn*/ .botao{
	background-image: linear-gradient(to right, #244a7d, #4167ad 130%);
	border: 0 none;
	border-radius: 3px;
	color: #fff;
	font-size: 0.9em;
	height: auto;
	padding: 15px 0;
	text-align: center;
	text-shadow: none;
}

#page_login /*.ui-field-contain*/ .controles label {
	font-weight: bold;
	color: #244a7d;
	text-shadow: none;
}

#page_login .terceira{
	width: 90%;
}

#page_login .terceira fieldset{
	float: right;
	margin-right: 50px;
	display: block;
}

#dataHoraLogin{
	font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
}