<section data-role="page" id="confirmar_veiculo" data-transition="slide" data-theme="a">
	
	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>1. Selecione um tipo de veículo</h1>
		<button id="btn_cancelar" name="btn_cancelar" data-icon="delete" class="ui-btn-right">Cancelar</button>
	</header>

	<!-- content -->
	<section role="main" class="ui-content">
		
		<div id="confirmar_veiculo" class="ui-grid-b ">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b center">
				<h2>Confirma o veículo selecionado?</h2>
			</div>
			<div class="ui-block-c">&nbsp;</div>

			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b center">
				<img id="img_confirmar_veiculo"/>
			</div>
			<div class="ui-block-c">&nbsp;</div>

			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<nav class="ui-grid-a">
					<div class="ui-block-a">
						<button class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-check ui-btn-icon-left" id="conf_veic_sim" name="conf_veic_sim">Sim</button>
					</div>
					<div class="ui-block-b">
						<button class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left" id="conf_veic_nao" name="conf_veic_nao">Não</button>
					</div>
				</nav>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>
		
	</section>

	<!-- sem rodapé -->
	<footer data-role='footer' data-position='fixed'> 
		<span class='versao'>Versão: <span id='versao'></span></span> 
		<span class='data_atual'>Data: <span id='data_atual'></span></span> 
		<span class='posto'>Posto: <span id='posto'></span></span> 
		<span class='sentido'>Sentido: <span id='sentido'></span></span> 
		<span class='ipad'>id-iPad: <span id='ipadID'></span></span> 
	</footer>
</section>