<section data-role="page" id="confirmar_veiculo" data-transition="slide" data-theme="b">
	
	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>1. Selecione um tipo de veículo</h1>
		<button id="btn_cancelar" name="btn_cancelar" data-icon="delete" class="ui-btn-right">Cancelar</button>
	</header>

	<!-- content -->
	<section role="main" class="ui-content">
		
		<div class="ui-grid-b ">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b center">
				<h2>Confirma veículo selecionado?</h2>
			</div>
			<div class="ui-block-c">&nbsp;</div>

			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b center">
				<img id="img_confirmar_veiculo" width="250" />
			</div>
			<div class="ui-block-c">&nbsp;</div>

			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<nav class="ui-grid-a">
					<div class="ui-block-a">
						<button class="ui-btn ui-corner-all ui-btn-a" id="conf_veic_sim" name="conf_veic_sim">Sim</button>
					</div>
					<div class="ui-block-b">
						<button class="ui-btn ui-corner-all ui-btn-a" id="conf_veic_nao" name="conf_veic_nao">Não</button>
					</div>
				</nav>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>
		
	</section>

	<!-- sem rodapé -->
</section>