<section data-role="page" id="menu" data-transition="slide" data-theme="b">

	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>Menu principal</h1>
	</header>

	<!-- content -->
	<section role="main" class="ui-content">

		<div class="ui-grid-b">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-btn-a ui-corner-all" id="menu_nova_pesquisa" name="menu_nova_pesquisa">Iniciar nova pesquisa</button>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>

		<div class="ui-grid-b">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-btn-a ui-corner-all" id="testaBugOld" name="testaBugOld">Testa Bug Old troca página</button><br>
				<button class="ui-btn ui-btn-a ui-corner-all" id="testaBugNew" name="testaBugOld">Testa Bug New troca página</button><br>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>
		</div>
	</section>

	<!-- footer -->
	<footer data-role="footer" data-position="fixed">
		<span class="versao">Versão: <span id="versao"></span></span>
		<span class="posto">Posto: <span id="posto"></span></span>
		<span class="sentido">Sentido: <span id="sentido"></span></span>
		<span class="ipad">id-iPad: <span id="ipadID"></span></span>
	</footer>

</section>