<section data-role="page" id="menu" data-transition="slide" data-theme="b">

	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>Menu principal</h1>
	</header>

	<!-- content -->
	<section role="main" class="ui-content">
		<div class="ui-grid-b">
			<div class="ui-block-a display_block">
				<h1 id="display_posto" class="display_value">POSTO</h1><br>
				<span class="display_desc">Posto</span>
			</div>
			<div class="ui-block-b display_block">
				<h1 id="display_idIpad" class="display_value">000</h1><br>
				<span class="display_desc">ID Ipad</span>
			</div>
			<div class="ui-block-c display_block">
				<h1 id="display_sentido" class="display_value">ZZ</h1><br>
				<span class="display_desc">Sentido</span>
			</div>
		</div>
		
		<div class="ui-grid-solo" id="display_data_hora_block">
			<div class="ui-block-a display_block">
				<h1 id="display_data_hora" class="display_value">00/00/0000 00:00</h1><br>
				<span class="display_desc">Data e hora</span>
			</div>
		</div>

		<div style="height: 120px"></div>
		
		<div class="ui-grid-b">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-btn-a ui-corner-all" id="menu_nova_pesquisa" name="menu_nova_pesquisa">Iniciar nova pesquisa</button>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>
		
		<div style="height: 180px"></div>
		
		<div class="ui-grid-d">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">&nbsp;</div>
			<div class="ui-block-c">&nbsp;</div>
			<!--<div class="ui-block-d"><button class="ui-btn ui-btn-a ui-corner-all" id="menu_trocar_sentido" name="menu_trocar_sentido">Trocar Sentido</button></div>-->
			<div class="ui-block-d">&nbsp;</div>
			<div class="ui-block-e"><button class="ui-btn ui-btn-a ui-corner-all" id="menu_sumario" name="menu_sumario">Sumário</button></div>
		</div>
		
<!--		<div class="ui-grid-b">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-btn-a ui-corner-all" id="menu_sumario" name="menu_sumario">Sumário</button>
				<button class="ui-btn ui-btn-a ui-corner-all" id="testaBugOld" name="testaBugOld">Testa Bug Old troca página</button><br>
				<button class="ui-btn ui-btn-a ui-corner-all" id="testaBugNew" name="testaBugOld">Testa Bug New troca página</button><br>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>-->
	
	</section>

	<!-- footer -->
	<footer data-role='footer' data-position='fixed'> 
		<span class='versao'>Versão: <span id='versao'></span></span> 
		<span class='data_atual'>Data: <span id='data_atual'></span></span> 
		<span class='posto'>Posto: <span id='posto'></span></span> 
		<span class='sentido'>Sentido: <span id='sentido'></span></span> 
		<span class='ipad'>id-iPad: <span id='ipadID'></span></span> 
	</footer>

</section>