<section data-role="page" id="menu" data-transition="slide" data-theme="b">
	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>Menu principal</h1>
	</header>

	<!-- content -->
	<section role="main" class="ui-content">
		<div class="ui-grid-b menu_separator">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-corner-all" id="menu_nova_pesquisa" name="menu_nova_pesquisa">Iniciar nova pesquisa</button>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>

		<div class="ui-grid-b menu_separator">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-corner-all" id="menu_enviar_dados" name="menu_enviar_dados">Enviar dados ainda não enviados</button>
			</div>
			<div class="ui-block-c">&nbsp;</div>

			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-corner-all" id="menu_enviar_todos_dados" name="menu_enviar_todos_dados">Enviar todos os
					dados</button>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>

		<div class="ui-grid-b menu_separator">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<!-- <button class="ui-btn ui-corner-all" id="menu_logout" name="menu_logout" >Logout</button>  -->
				<a class="ui-btn ui-corner-all" id="menu_logout" name="menu_logout" href="#page_login">Logout</a>
			</div>
			<div class="ui-block-c">&nbsp;</div>
		</div>
	</section>

	<!-- sem rodapé -->
</section>
