<section data-role="page" id="selecionar_tipo" data-transition="slide" data-theme="b">

	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>1. Selecione um tipo de veículo</h1>
		<button id="btn_cancelar" name="btn_cancelar" data-icon="delete" class="ui-btn-right">Cancelar</button>
	</header>

	<!-- content -->
	<section role="main" class="ui-content" id="sel_tipo_veiculo_1">

		<section class="ui-grid-a classe_veiculo" id="section_v_simples">
			<h2>Veículos Simples</h2>
			<nav class="tipos_veiculos">
				<ol>
					<li><img src="../img/tipoVeiculo/1_simples/m.png" class="img_sel v-simples" id="m" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/p1_01.png" class="img_sel v-simples" id="p1_01" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/p1_02.png" class="img_sel v-simples" id="p1_02" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/p2.png" class="img_sel v-simples" id="p2" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/p3.png" class="img_sel v-simples" id="p3" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/o1.png" class="img_sel v-onibus" id="o1" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/o2.png" class="img_sel v-onibus" id="o2" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/o3.png" class="img_sel v-onibus" id="o3" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/c1.png" class="img_sel v-carga" id="c1" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/c2.png" class="img_sel v-carga" id="c2" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/c3.png" class="img_sel v-carga" id="c3" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/c4.png" class="img_sel v-carga" id="c4" /></li>
					<li><img src="../img/tipoVeiculo/1_simples/c5.png" class="img_sel v-carga" id="c5" /></li>
				</ol>
			</nav>
		</section>

		<section class="ui-grid-b classe_veiculo" id="section_v_semireboques">
			<h2>Semi-reboques</h2>
			<nav class="tipos_veiculos">
				<ol>
					<li><img src="../img/tipoVeiculo/2_semireboques/s1.png" class="img_sel v-semireboque" id="s1" /></li>
					<li><img src="../img/tipoVeiculo/2_semireboques/s2.png" class="img_sel v-semireboque" id="s2" /></li>
					<li><img src="../img/tipoVeiculo/2_semireboques/s3.png" class="img_sel v-semireboque" id="s3" /></li>
					<li><img src="../img/tipoVeiculo/2_semireboques/s4.png" class="img_sel v-semireboque" id="s4" /></li>
					<li><img src="../img/tipoVeiculo/2_semireboques/s5.png" class="img_sel v-semireboque" id="s5" /></li>
					<li><img src="../img/tipoVeiculo/2_semireboques/s6.png" class="img_sel v-semireboque" id="s6" /></li>
				</ol>
			</nav>
		</section>

		<section class="ui-grid-c troca_classe_veiculo">
			<img id="selTipoVeiculo_1" src="../icons/SVG/right-arrow.svg" class="switch_classe_veiculo" />
		</section>
	</section>

	<section role="main" class="ui-content escondido" id="sel_tipo_veiculo_2">
		<section class="ui-grid-a troca_classe_veiculo">
			<img id="selTipoVeiculo_2" src="../icons/SVG/left-arrow.svg" class="switch_classe_veiculo" />
		</section>
		<section class="ui-grid-b classe_veiculo" id="section_v_combinados">
			<h2>Combinados</h2>
			<nav class="tipos_veiculos">
				<ol>
					<li><img src="../img/tipoVeiculo/3_combinados/se1.png" class="img_sel v-combinado" id="se1" /></li>
					<li><img src="../img/tipoVeiculo/3_combinados/se2.png" class="img_sel v-combinado" id="se2" /></li>
					<li><img src="../img/tipoVeiculo/3_combinados/se3.png" class="img_sel v-combinado" id="se3" /></li>
					<li><img src="../img/tipoVeiculo/3_combinados/se4.png" class="img_sel v-combinado" id="se4" /></li>
					<li><img src="../img/tipoVeiculo/3_combinados/se5.png" class="img_sel v-combinado" id="se5" /></li>
				</ol>
			</nav>
		</section>

		<section class="ui-grid-c classe_veiculo" id="section_v_reboques">
			<h2>Reboques</h2>
			<nav class="tipos_veiculos">
				<ol>
					<li><img src="../img/tipoVeiculo/4_reboques/r1.png" class="img_sel v-reboque" id="r1" /></li>
					<li><img src="../img/tipoVeiculo/4_reboques/r2.png" class="img_sel v-reboque" id="r2" /></li>
					<li><img src="../img/tipoVeiculo/4_reboques/r3.png" class="img_sel v-reboque" id="r3" /></li>
					<li><img src="../img/tipoVeiculo/4_reboques/r4.png" class="img_sel v-reboque" id="r4" /></li>
					<li><img src="../img/tipoVeiculo/4_reboques/r5.png" class="img_sel v-reboque" id="r5" /></li>
					<li><img src="../img/tipoVeiculo/4_reboques/r6.png" class="img_sel v-reboque" id="r6" /></li>
				</ol>
			</nav>
		</section>

	</section>

	<!-- sem rodapé -->
</section>