<section data-role="page" id="selecionar_tipo" data-transition="slide" data-theme="a">
	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>1. Selecione um tipo de veículo</h1>
	</header>

	<!-- content -->
	<section role="main" class="ui-content">
		<section class="ui-grid-a tipo_veiculo">
			<h2>Veículos Simples</h2>
			<ol>
				<li><img src="../img/tipoVeiculo/tpVL01.png" alt="VL01" class="img_sel v-simples" id="tpVL01" /></li>
				<li><img src="../img/tipoVeiculo/tpVL02.png" alt="VL02" class="img_sel v-simples" id="tpVL02" /></li>
				<li><img src="../img/tipoVeiculo/tpVL03.png" alt="VL03" class="img_sel v-simples" id="tpVL03" /></li>
				<li><img src="../img/tipoVeiculo/tpVL04.png" alt="VL04" class="img_sel v-simples" id="tpVL04" /></li>
				<li><img src="../img/tipoVeiculo/tpVL05.png" alt="VL05" class="img_sel v-simples" id="tpVL05" /></li>
				<li><img src="../img/tipoVeiculo/tp2CB.png" alt="2CB" class="img_sel v-onibus" id="tp2CB" /></li>
				<li><img src="../img/tipoVeiculo/tp3CB.png" alt="3CB" class="img_sel v-onibus" id="tp3CB" /></li>
				<li><img src="../img/tipoVeiculo/tp4CB.png" alt="4CB" class="img_sel v-onibus" id="tp4CB" /></li>
				<li><img src="../img/tipoVeiculo/tp2C.png" alt="2C" class="img_sel v-carga" id="tp2C" /></li>
				<li><img src="../img/tipoVeiculo/tp3C.png" alt="3C" class="img_sel v-carga" id="tp3C" /></li>
				<li><img src="../img/tipoVeiculo/tp4C.png" alt="4C" class="img_sel v-carga" id="tp4C" /></li>
				<li><img src="../img/tipoVeiculo/tp4CD.png" alt="4CD" class="img_sel v-carga" id="tp4CD" /></li>
			</ol>
		</section>

		<section class="ui-grid-b tipo_veiculo">
			<h2>Semi-reboques</h2>
			<ol>
				<li></li>
			</ol>
		</section>
	</section>

	<!-- sem rodapé -->
</section>
