<section data-role="page" id="selecionar_tipo" data-transition="slide" data-theme="a">
	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>1. Selecione um tipo de veículo</h1>
	</header>

	<!-- content -->
	<section role="main" class="ui-content">
		<div class="ui-grid-b">
			<div class="ui-block-a" style="width: 42%">Veículos Simples</div>
			<div class="ui-block-b" style="width: 42%">Semi-reboques</div>
			<div class="ui-block-c" style="width: 16%">&nbsp;</div>
		</div>
		<div class="ui-grid-b">
			<div class="ui-block-a" style="width: 42%">
				<img src="../img/tipoVeiculo/tpVL01.png" alt="VL01" class="img_sel v-simples" id="tpVL01" />
				<img src="../img/tipoVeiculo/tpVL02.png" alt="VL02" class="img_sel v-simples" id="tpVL02" />
				<img src="../img/tipoVeiculo/tpVL03.png" alt="VL03" class="img_sel v-simples" id="tpVL03" />
				<img src="../img/tipoVeiculo/tpVL04.png" alt="VL04" class="img_sel v-simples" id="tpVL04" />
				<img src="../img/tipoVeiculo/tpVL05.png" alt="VL05" class="img_sel v-simples" id="tpVL05" />
				<img src="../img/tipoVeiculo/tp2CB.png" alt="2CB" class="img_sel v-onibus" id="tp2CB" />
				<img src="../img/tipoVeiculo/tp3CB.png" alt="3CB" class="img_sel v-onibus" id="tp3CB" />
				<img src="../img/tipoVeiculo/tp4CB.png" alt="4CB" class="img_sel v-onibus" id="tp4CB" />
				<img src="../img/tipoVeiculo/tp2C.png" alt="2C" class="img_sel v-carga" id="tp2C" />
				<img src="../img/tipoVeiculo/tp3C.png" alt="3C" class="img_sel v-carga" id="tp3C" />
				<img src="../img/tipoVeiculo/tp4C.png" alt="4C" class="img_sel v-carga" id="tp4C" />
				<img src="../img/tipoVeiculo/tp4CD.png" alt="4CD" class="img_sel v-carga" id="tp4CD" />
			</div>
			<div class="ui-block-b" style="width: 42%">Semi-reboques</div>
			<div class="ui-block-c" style="width: 16%">Figura 1/2</div>
		</div>
	</section>

	<!-- sem rodapé -->
</section>
