<section data-role="page" id="caracterizacao_onibus" data-transition="slide" data-theme="b">

	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>3. Caracterização do veículo</h1>
		<button id="btn_cancelar" name="btn_cancelar" data-icon="delete" class="ui-btn-right">Cancelar</button>
	</header>

	<!--content -->
	<section role="main" class="ui-content">

		<fieldset class="ui-grid-a" id="grupo_ano_onibus">
			<legend class="ui-block-a">Ano do veículo:</legend>
			<div class="ui-block-b">
				<select name="ano_onibus" id="ano_onibus" data-theme="a">
				</select>
			</div>
		</fieldset>

		<fieldset class="ui-grid-a escondido" id="grupo_propriedade_onibus">
			<legend class="ui-block-a">Propriedade:</legend>
			<div class="ui-block-b">
				<select name="propriedade_onibus" id="propriedade_onibus" data-theme="a">
				</select>
			</div>
		</fieldset>

		<nav class="ui-grid-a avancar escondido" id="grupo_caracterizacao_onibus_avancar">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-corner-all ui-icon-arrow-r ui-btn-icon-right ui-btn-a" id="caracterizacao_onibus_avancar">Avançar</button>
			</div>
		</nav>

	</section>

	<!-- footer -->
	<footer data-role='footer' data-position='fixed'> \
		<span class='versao'>Versão: <span id='versao'></span></span> \
		<span class='data_atual'>Data: <span id='data_atual'></span></span> \
		<span class='posto'>Posto: <span id='posto'></span></span> \
		<span class='sentido'>Sentido: <span id='sentido'></span></span> \
		<span class='ipad'>id-iPad: <span id='ipadID'></span></span> \
	</footer>

</section>