<section data-role="page" id="caracterizacao_carga" data-transition="slide" data-theme="b">

	<!-- header -->
	<header data-role="header">
		<a href="#panel_menu" data-icon="gear" class="ui-btn-left">Controles</a>
		<h1>3. Caracterização do veículo</h1>
		<button id="btn_cancelar" name="btn_cancelar" data-icon="delete" class="ui-btn-right">Cancelar</button>
	</header>

	<!--content -->
	<section role="main" class="ui-content">

		<fieldset class="ui-grid-a" id="grupo_ano_carga">
			<legend class="ui-block-a">Ano de fabricação:</legend>
			<div class="ui-block-b">
				<select name="ano_carga" id="ano_carga" data-theme="a">
				</select>
			</div>
		</fieldset>
		
		<fieldset class="ui-grid-a escondido" id="grupo_propriedade_carga">
			<legend class="ui-block-a">Propriedade:</legend>
			<div class="ui-block-b">
				<select name="propriedade_carga" id="propriedade_carga" data-theme="a">
				</select>
			</div>
		</fieldset>

		<fieldset class="ui-grid-a escondido" id="grupo_agregado_carga">
			<legend class="ui-block-a">Agregado:</legend>
			<div class="ui-block-b">
				<select name="agregado_carga" id="agregado_carga" data-theme="a">
				</select>
			</div>
		</fieldset>

		<nav class="ui-grid-a avancar escondido" id="grupo_caracterizacao_carga_avancar">
			<div class="ui-block-a">&nbsp;</div>
			<div class="ui-block-b">
				<button class="ui-btn ui-corner-all ui-icon-arrow-r ui-btn-icon-right ui-btn-a" id="caracterizacao_carga_avancar">Avançar</button>
			</div>
		</nav>

	</section>

	<!-- footer -->
	<footer data-role="footer" data-position="fixed">
	</footer>

</section>